
[submodule "vendor/meteor-wormhole"]
	path = vendor/meteor-wormhole
	url = https://github.com/mieweb/meteor-wormhole
[submodule "vendor/ui"]
	path = vendor/ui
	url = https://github.com/Dharp02/ui
	branch = timehuddle/editor-fixes
