
[submodule "vendor/meteor-wormhole"]
	path = vendor/meteor-wormhole
	url = https://github.com/mieweb/meteor-wormhole
[submodule "vendor/pulsevault"]
	path = vendor/pulsevault
	url = https://github.com/mieweb/pulsevault
